.cabeza{
    margin: 10px 50px 10px 50px;
    text-align: center;
    border-radius: 8px;
    background: darkgray;
    box-shadow: 1px 1px 5PX;
}
.todo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: mintcream;
    padding: 0px 40px 0px 40px;
}
.caja1 {
    margin: 10px;
    padding: 10px;
    background: lightgreen;
    border-radius: 15px;
    box-shadow: 1px 1px 5PX;
}
.caja2 {
    margin: 10px;
    padding: 10px;
    background: lightblue;
    border-radius: 15px;
    box-shadow: 1px 1px 5PX;
}

.caja3 {
    margin: 10px;
    padding: 10px;
    background: lightgray;
    border-radius: 15px;
    box-shadow: 1px 1px 5PX;
}
.caja4 {
    margin: 10px;
    padding: 10px;
    background: lightseagreen;
    border-radius: 15px;
    box-shadow: 1px 1px 5PX;
}
h1 {
    color: white;   
}

p {
    color: white;
    font-size: 30px;
    margin: 20px;
}
input{
    border-radius: 8px;
    border: none;
    width: 99%;
    height: 50px;
    font-size: 30px;
    background: lightcyan;
}
select{
    border-radius: 8px;
    border: none;
    width: 99%;
    height: 50px;
    font-size: 30px;
    background: lightcyan;
}
button {
    border-radius: 8px;
    border: none;
    width: 99%;
    height: 50px;
    font-size: 30px;
    background: lightcyan;
}

.rad {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}
.rad input {
    margin: 0px 5px 0px 20px;
    width: 10%;
    height: 50px;   

}
.rad p {
    color: white;
    font-size: 30px;
}
.caja {
    margin: 10px;
    padding: 10px;
    background: lightblue;
    border-radius: 15px;
    
}
@media screen and (max-width:900px ) {

    .todo {
        display: grid;
        grid-template-columns: 1fr;
        background: mintcream;
        padding: 10px 40px 10px 40px;
    }
    input{
        border-radius: 8px;
        border: none;
        width: 99%;
        height: 50px;
        font-size: 20px;
        background: lightcyan;
    }
    .rad input {
        padding: 0px 0px 0px 0px;
        width: auto;
        height: 50px;   
        
    }
    
}